<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/papercss@1.8.0/dist/paper.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>RocketScience</title>
  </head>
  <body>
    <div class="row">
      <!-- Side navbar -->
      <div class="col-3 col margin-left-large">
        <!-- <p> -->
        <img
          src="./images/icons/gandalf.jpg"
          width="200px"
          height="200px"
          class="float-left"
        />
        <!-- </p> -->
        <table class="table-hover">
          <tbody>
            <tr>
              <td>Idle</td>
            </tr>
            <tr>
              <td>Planning Phase</td>
            </tr>
            <tr>
              <td>Trader</td>
            </tr>
            <tr>
              <td>Engineer</td>
            </tr>
            <tr>
              <td>Astronuat</td>
            </tr>
            <tr>
              <td>Explorer</td>
            </tr>
            <tr>
              <td>Hero</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Side navbar -->

      <!-- MAIN -->
      <div class="col-6 col">
        <div class="row">
          <div class="col-12 col">
            <h4 class="float-left">
              Gandalf <span class="badge warning">Fund: 320,000 coins</span>
            </h4>
          </div>
        </div>
        <div class="row">
          <h3>Destinations</h3>

          <table>
            <tbody>
              <tr>
                <td>
                  <i class="icon"
                    ><img
                      class="no-border"
                      src="./images/icons/moon-phase.png"
                      alt=""
                  /></i>
                </td>
                <td>Moon</td>
                <td>0.38 million miles</td>
                <td>
                  <button class="btn-block btn-primary-outline">Launch</button>
                </td>
                <td></td>
              </tr>

              <tr>
                <td>
                  <i class="icon"
                    ><img
                      class="no-border"
                      src="./images/icons/mars.png"
                      alt=""
                  /></i>
                </td>
                <td>Mars</td>
                <td>63.4 million miles</td>
                <td>
                  <button class="btn-block btn-primary-outline">Launch</button>
                </td>
                <td></td>
              </tr>
              <tr></tr>
              <tr>
                <td>
                  <i class="icon"
                    ><img
                      class="no-border"
                      src="./images/icons/saturn.png"
                      alt=""
                  /></i>
                </td>
                <td>Saturn</td>
                <td>1.45 billion miles</td>
                <td>
                  <button class="btn-block btn-primary-outline">Launch</button>
                </td>
                <td></td>
              </tr>
              <tr></tr>
              <tr>
                <td>
                  <i class="icon"
                    ><img
                      class="no-border"
                      src="./images/icons/universe.png"
                      alt=""
                  /></i>
                </td>
                <td>Alpha Centauri</td>
                <td>41.3 trillion miles</td>
                <td>
                  <button class="btn-block btn-primary-outline">Launch</button>
                </td>
                <td>
                  <button class="btn-block btn-secondary-outline">
                    Premium
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- MAIN -->

      <!-- RECENT MISSIONS -->
      <div class="col-3 col recent">
        <strong class="recent-text">Recent</strong>
        <button class="btn-block btn-success recent-btn">
          Launched to Moon
        </button>
        <button class="btn-block btn-primary recent-btn">
          Launched to Mars
        </button>
        <button class="btn-block btn-primary recent-btn">
          Launched to Saturn
        </button>
        <button class="btn-block btn-primary recent-btn">
          Launched to Alpha Centauri
        </button>
      </div>
      <!-- RECENT MISSIONS -->
    </div>
    <!-- <div>Icons made by <a href="https://www.flaticon.com/free-icon/moon-phase_2909605" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
  </body>
</html>
